<template name="singleUserCard">
  <li class="single-user-card-wrap">
    <section class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text"><img  src="{{avatarOrDefault}}" alt="avatar">{{username}}</h4>
      </div>
      <div class="mdl-card__media">
        <header>自我介绍</header>
        <p>{{#if profile.selfIntroduction}}{{profile.selfIntroduction}}{{else}}他还没有填写自我介绍！{{/if}}</p>
      </div>
      <div class="mdl-card__supporting-text">
        {{profile.introduction}}
      </div>
      <div class="mdl-card__actions mdl-card--border clearfix">
        <a href="{{pathFor "userHomepage" uid=_id}}" class="btn btn-primary pull-right">浏览</a>
      </div>
    </section>
  </li>
</template>