<template name="projectHomepage">
  {{#if projectReady}}
    <div class="project-homepage-wrap">
      <div class="container">
        <div class="row">
          {{#with singleProject}}
            <div class="col-md-8">
              <div class="well">
                <article>
                  <h3 class="caption">{{name}}</h3>
                  <ul class="list-inline">
                    <i class="fa fa-tags"></i>
                    {{#each tag in tags}}
                      <li><span class="label label-default">{{tag}}</span></li>
                    {{/each}}
                  </ul>
                  <small>{{introduction}}</small>
                  <hr>
                  <h5>我的初衷</h5>
                  {{#with fullDescription}}
                    <p id="initial-mind" class="editable">{{initialMind}}</p>
                    {{#if isProjectOwner ..}}
                      <p id="initial-mind-clone" class="hide">{{initialMind}}</p>
                    {{/if}}
                    <h5>要解决的问题</h5>
                    <p id="problems-to-solve" class="editable">{{problemsToSolve}}</p>
                    {{#if isProjectOwner ..}}
                      <p id="problems-to-solve-clone" class="hide">{{problemsToSolve}}</p>
                    {{/if}}
                    <h5>具体的解决方案</h5>
                    <p id="how-to-solve" class="editable">{{howToSolve}}</p>
                    {{#if isProjectOwner ..}}
                      <p id="how-to-solve-clone" class="hide">{{howToSolve}}</p>
                    {{/if}}
                    <h5>产品的应用场景</h5>
                    <p id="usage-scene" class="editable">{{usageScene}}</p>
                    {{#if isProjectOwner ..}}
                      <p id="usage-scene-clone" class="hide">{{usageScene}}</p>
                    {{/if}}
                    <h5>我对于这款产品将来的计划</h5>
                    <p id="future-vision" class="editable">{{futureVision}}</p>
                    {{#if isProjectOwner ..}}
                      <p id="future-vision-clone" class="hide">{{futureVision}}</p>
                    {{/if}}
                    <h5>最后，关于我自己</h5>
                    <p id="about-myself" class="editable">{{aboutMyself}}</p>
                    {{#if isProjectOwner ..}}
                      <p id="about-myself-clone" class="hide">{{aboutMyself}}</p>
                    {{/if}}
                  {{/with}}
                  <hr>
                  <h4>我正在招募以下团队成员</h4>
                  <h6>产品{{#if isProjectOwner}}<i class="fa fa-plus hide-on-edit"></i><i class="fa fa-check show-on-edit"></i>{{/if}}</h6>
                  {{#if isProjectOwner}}
                  <div class="checkbox" id="product-positions-rest">
                    {{#each productPositionsRest}}
                      <label>
                        <input type="checkbox" name="product" value="{{this}}">
                        {{#if isPay ..}}
                          <span class="salary">月薪： <input type="text" pattern="[0-9]+"></span>
                        {{/if}}
                        {{this}}
                      </label>
                    {{/each}}
                  </div>
                  {{/if}}
                  <ul class="list-inline hire-list">
                    {{#each productHire}}
                      <li class="product-position">
                        {{#if isProjectOwner ..}}<i class="fa fa-minus"></i>{{/if}}
                        <span class="hire-category">{{this.category}}</span>
                        {{#if isPay ..}}
                          <span class="hire-salary" title="一个月酬劳">￥{{this.salary}}</span>
                        {{/if}}
                      </li>
                    {{/each}}
                  </ul>
                  <h6>技术{{#if isProjectOwner}}<i class="fa fa-plus hide-on-edit"></i><i class="fa fa-check show-on-edit"></i>{{/if}}</h6>
                  {{#if isProjectOwner}}
                  <div class="checkbox" id="tech-positions-rest">
                    {{#each techPositionsRest}}
                      <label>
                        <input type="checkbox" name="tech" value="{{this}}">
                        {{#if isPay ..}}
                          <span class="salary">月薪： <input type="text" pattern="[0-9]+"></span>
                        {{/if}}
                        {{this}}
                      </label>
                    {{/each}}
                  </div>
                  {{/if}}
                  <ul class="list-inline hire-list">
                    {{#each techHire}}
                      <li class="tech-position">
                        {{#if isProjectOwner ..}}<i class="fa fa-minus"></i>{{/if}}
                        <span class="hire-category">{{this.category}}</span>
                        {{#if isPay ..}}
                          <span class="hire-salary" title="一个月酬劳">￥{{this.salary}}</span>
                        {{/if}}
                      </li>
                    {{/each}}
                  </ul>
                  <h6>设计{{#if isProjectOwner}}<i class="fa fa-plus hide-on-edit"></i><i class="fa fa-check show-on-edit"></i>{{/if}}</h6>
                  {{#if isProjectOwner}}
                  <div class="checkbox" id="design-positions-rest">
                    {{#each designPositionsRest}}
                      <label>
                        <input type="checkbox" name="design" value="{{this}}">
                        {{#if isPay ..}}
                          <span class="salary">月薪： <input type="text" pattern="[0-9]+"></span>
                        {{/if}}
                        {{this}}
                      </label>
                    {{/each}}
                  </div>
                  {{/if}}
                  <ul class="list-inline hire-list">
                    {{#each designHire}}
                      <li class="design-position">
                        {{#if isProjectOwner ..}}<i class="fa fa-minus"></i>{{/if}}
                        <span class="hire-category">{{this.category}}</span>
                        {{#if isPay ..}}
                          <span class="hire-salary" title="一个月酬劳">￥{{this.salary}}</span>
                        {{/if}}
                      </li>
                    {{/each}}
                  </ul>
                  <hr>
                  <h4>我们使用下列服务进行远程协作开发 <a href="#" id="services-help" data-toggle="modal" data-target="#help" title="有问题 ？"><i class="fa fa-question"></i></a></h4>
                  <h6>远程协作开发工具{{#if isProjectOwner}}<i class="fa fa-plus hide-on-edit"></i><i class="fa fa-check show-on-edit"></i>{{/if}}</h6>
                  {{#if isProjectOwner}}
                  <div class="checkbox" id="coop-tools-rest">
                    {{#each coopToolsRest}}
                      <label>
                        <input type="checkbox" name="coopTools" value="{{this}}">
                        {{this}}
                      </label>
                    {{/each}}
                  </div>
                  {{/if}}
                  <ul class="list-inline services-list">
                    {{#each service in cooperationTools}}
                      <li class="coop-tool">
                        {{#if isProjectOwner}}<i class="fa fa-minus"></i>{{/if}}
                        {{service}}
                      </li>
                    {{/each}}
                  </ul>
                  <!-- to update if there are other good code services. -->
                  <h6 title="默认使用Github">代码仓库</h6>
                  <ul class="list-inline services-list">
                    {{#each service in codeTools}}
                      <li>{{service}}</li>
                    {{/each}}
                  </ul>
                  <h6>即时沟通工具{{#if isProjectOwner}}<i class="fa fa-plus hide-on-edit"></i><i class="fa fa-check show-on-edit"></i>{{/if}}</h6>
                  {{#if isProjectOwner}}
                  <div class="checkbox" id="com-tools-reset">
                    {{#each comToolsRest}}
                      <label>
                        <input type="checkbox" name="comTools" value="{{this}}">
                        {{this}}
                      </label>
                    {{/each}}
                  </div>
                  {{/if}}
                  <ul class="list-inline services-list">
                    {{#each service in communicationTools}}
                      <li class="com-tool">
                        {{#if isProjectOwner}}<i class="fa fa-minus"></i>{{/if}}
                        {{service}}
                      </li>
                    {{/each}}
                  </ul>
                  <h6>文件存储{{#if isProjectOwner}}<i class="fa fa-plus hide-on-edit"></i><i class="fa fa-check show-on-edit"></i>{{/if}}</h6>
                  {{#if isProjectOwner}}
                  <div class="checkbox" id="file-tools-rest">
                    {{#each fileToolsRest}}
                      <label>
                        <input type="checkbox" name="fileTools" value="{{this}}">
                        {{this}}
                      </label>
                    {{/each}}
                  </div>
                  {{/if}}
                  <ul class="list-inline services-list">
                    {{#each service in fileTools}}
                      <li class="file-tool">
                        {{#if isProjectOwner}}<i class="fa fa-minus"></i>{{/if}}
                        {{service}}
                      </li>
                    {{/each}}
                  </ul>
                </article>
              </div>
              {{#if isProjectOwner}}
                <div class="panel panel-default" id="danger-zone">
                  <div class="panel-heading">
                    <h3 class="panel-title text-danger">危险操作</h3>
                  </div>
                  <div class="panel-body">
                    <h6>永久删除</h6>
                    <p>
                      <span class="danger-operation-top text-muted small">一旦删除，将从数据库彻底删除项目所有数据，该项目将不可找回</span>
                      <button id="delete-project" class="btn btn-danger" data-toggle="modal" data-target="#delete-project-modal">删除当前项目</button>
                    </p>
                  </div>
                </div>
              {{/if}}
            </div>
            <div class="col-md-4">
              <div class="well">
                <aside>
                  {{#with projectOwnerProfile}}
                    <h3 class="caption">项目创建者</h3>
                    <div class="media">
                      <div class="media-left">
                        <a href="{{pathFor "userHomepage" uid=_id}}"><img src="{{avatarOrDefault}}" alt="avatar"></a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">{{username}}</h4>
                        {{profile.introduction}}
                      </div>
                    </div>
                  {{/with}}
                  <dl class="dl-horizontal">
                    <dt><i class="fa fa-code-fork"></i></dt>
                    <dd title="项目分类">{{category}}</dd>
                    <dt><i class="fa fa-link"></i></dt>
                    <dd id="demo-url" class="editable-item" title="Demo地址">{{#if demoUrl}}<a href="{{demoUrl}}" target="_blank">{{demoUrl}}</a>{{else}}<span>暂时没有demo地址</span>{{/if}}</dd>
                    {{#if isProjectOwner}}<dd id="demo-url-help" class="text-muted">例如：www.google.com</dd>{{/if}}
                    {{#if isProjectOwner}}
                      <dd id="demo-url-clone" class="hide">{{#if demoUrl}}<a href="{{demoUrl}}" target="_blank">{{demoUrl}}</a>{{else}}暂时没有demo地址{{/if}}</dd>
                    {{/if}}
                    <dt><i class="fa fa-calendar"></i></dt>
                    <dd title="发布时间">{{publishDate.fullYear}}-{{publishDate.month}}-{{publishDate.date}}</dd>
                  </dl>
                  <h5>我能做什么</h5>
                  <p id="own-resource" class="editable">{{ownResource}}</p>
                  {{#if isProjectOwner}}
                    <p id="own-resource-clone" class="hide">{{ownResource}}</p>
                  {{/if}}
                  <hr>
                  {{#if isProjectOwner}}
                    <button id="edit-button" class="btn btn-raised btn-primary btn-block" type="button">编辑</button>
                    <button id="save-button" class="btn btn-success btn-block" type="button">保存修改</button>
                    <div class="loader">
                      <div class="loader-inner line-scale-pulse-out-rapid">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </div>
                    <button id="cancel-button" class="btn btn-default btn-block" type="button">取消</button>
                  {{else}}
                    <button id="join-button" class="btn btn-raised btn-primary btn-block" type="button">我要加入</button>
                  {{/if}}
                </aside>
              </div>
            </div>
            {{#if isProjectOwner}}
              <!-- delete current project modal -->
              <div class="modal fade" id="delete-project-modal" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button class="close" type="button" data-dismiss="modal"><span>&times;</span></button>
                      <h4 class="modal-title">删除项目</h4>
                    </div>
                    <div class="modal-body">
                      <form class="form-horizontal">
                        <fieldset>
                          <div class="form-group">
                            <label class="col-sm-2 control-label" for="password">密码</label>
                            <div class="col-sm-10">
                              <input class="form-control" type="password" id="password" placeholder="请输入账号密码" maxlength="100" required>
                            </div>
                          </div>
                          <div class="form-group">
                            <button type="submit" class="btn btn-danger pull-right" id="delete-forever">删除当前项目</button>
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">取消</button>
                          </div>
                        </fieldset>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            {{/if}}
            {{#if currentUser}}
              <div class="modal fade" id="join-modal" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button class="close" type="button" data-dismiss="modal"><span>&times;</span></button>
                      <h3 class="modal-title">我要加入</h3>
                    </div>
                    <div class="modal-body">
                      <form class="form-horizontal">
                        <fieldset>
                          <div class="form-group">
                            <div class="checkbox">

                            </div>
                          </div>
                          <div class="form-group">
                            <button type="submit" class="btn btn-primary pull-right">提交</button>
                            <button type="button" class="btn btn-default pull-right">取消</button>
                          </div>
                        </fieldset>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            {{/if}}
          {{/with}}
        </div>
      </div>
      {{> servicesHelpModal}}
    </div>
    {{> footer}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="checkableItem">
  <label class="updated-item">
    <input type="checkbox" value="{{position}}">
    {{#if isPay}}
      <span class="salary">月薪： <input type="text" pattern="[0-9]+"></span>
    {{/if}}
    {{position}}
  </label>
</template>

<template name="selectedItem">
  {{#each positions}}
    <li class="{{this.positionCategory}} updated-item">
      <i class="fa fa-minus"></i>
      <span class="hire-category">{{this.position}}</span>
      {{#if ../isPay }}
        <span class="hire-salary" title="一个月酬劳">￥{{this.salary}}</span>
      {{/if}}
    </li>
  {{/each}}
</template>

<template name="serviceCheckable">
  <label class="updated-item">
    <input type="checkbox" value="{{service}}">
    {{service}}
  </label>
</template>

<template name="serviceSelected">
  {{#each services}}
    <li class="{{this.serviceCategory}} updated-item">
      <i class="fa fa-minus"></i>
      {{this.service}}
    </li>
  {{/each}}
</template>

