<template name="index">
    <div class="index-wrap">
        <div id="full-page">
            <div class="section section-idea">
                <div class="container">
                    <section class="row">
                        <div class="col-sm-5 idea-image">
                            <img class="img-responsive" src="/images/LightbulbIdea.png" alt="idea">
                        </div>
                        <div class="col-sm-7">
                            <p>如果你有一个用互联网改变世界的创意</p>
                            <p>在这里，你可以找到志同道合的伙伴</p>
                            <p>他们中有工程师，设计师以及产品设计师等</p>
                            <p>你们将一起合作，将创意变为实际的产品</p>
                            <ul class="list-inline login-buttons">
                                <li><a href="#" class="btn white-border-button" data-toggle="modal" data-target="#loginModal">注册</a></li>
                                <li><a href="#" class="btn white-border-button" data-toggle="modal" data-target="#loginModal">登陆</a></li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="section section-hackers">
                <div class="container">
                    <section>
                        <header>
                            <i class="fa fa-code"></i>
                            <i class="fa fa-paint-brush"></i>
                        </header>
                        <p>如果你是一名黑客，一名画家</p>
                        <p>在这里，你能够充分发挥自己的才华</p>
                        <p>参与创建能够改变世界的产品</p>
                    </section>
                </div>
            </div>
            <div class="section section-remote-work">
                <div class="container">
                    <section>
                        <header>
                            <i class="glyphicon glyphicon-globe"></i>
                        </header>
                        <p>所有这一切，你待在寝室，图书馆，出租屋，咖啡馆</p>
                        <p>打开电脑，就可以实现</p>
                        <p>是的，我们所有的产品都是远程协作开发的</p>
                    </section>
                </div>
            </div>
            <div class="section section-ready">
                <div class="container">
                    <section>
                        <p>准备好改变世界了吗？</p>
                        <p>现在就加入吧!</p>
                        <p><a href="#" class="btn btn-lg white-border-button">注册</a></p>
                    </section>
                </div>
            </div>
        </div>

        <!-- 登陆 注册 modal-->
        <div id="loginModal" class="modal fade">
            <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                       <h1 class="modal-title">登陆</h1>
                   </div>
                   <div class="modal-body">
                       {{> signIn}}
                   </div>
               </div>
            </div>
        </div>
    </div>
</template>

<template name="signIn">
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label for="user-name" class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="user-name" placeholder="用户名">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" placeholder="密码">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">登陆</button>
                </div>
            </div>
        </fieldset>
    </form>
</template>