<template name="index">
  <div class="index-wrap">
    <div id="full-page">
      <div class="section section-idea">
        <div class="container">
          <section class="row">
            <div class="col-sm-5 idea-image">
              <img class="img-responsive" data-src="/images/LightbulbIdea.png" alt="idea">
            </div>
            <div class="col-sm-7">
              <p>如果你有一个用互联网改变世界的创意</p>
              <p>在这里，你可以找到志同道合的伙伴</p>
              <p>他们中有工程师，设计师以及产品设计师等</p>
              <p>你们将一起合作，将创意变为实际的产品</p>
              <ul class="list-inline login-buttons">
                <li><a href="#" class="btn white-border-button" data-toggle="modal" data-target="#signModal" data-which="signUp">注册</a></li>
                <li><a href="#" class="btn white-border-button" data-toggle="modal" data-target="#signModal" data-which="signIn">登陆</a></li>
              </ul>
            </div>
          </section>
        </div>
      </div>
      <div class="section section-hackers">
        <div class="container">
          <section>
            <header>
              <i class="fa fa-code"></i>
              <i class="fa fa-paint-brush"></i>
            </header>
            <p>如果你是一名黑客，一名画家</p>
            <p>在这里，你能够充分发挥自己的才华</p>
            <p>参与创建能够改变世界的产品</p>
          </section>
        </div>
      </div>
      <div class="section section-remote-work">
        <div class="container">
          <section>
            <header>
              <i class="glyphicon glyphicon-globe"></i>
            </header>
            <p>所有这一切，你待在寝室，图书馆，出租屋，咖啡馆</p>
            <p>打开电脑，就可以实现</p>
            <p>是的，我们所有的产品都是远程协作开发的</p>
          </section>
        </div>
      </div>
      <div class="section section-ready">
        <div class="container">
          <section>
            <p>准备好改变世界了吗？</p>
            <p>现在就加入吧!</p>
            <p><a href="#" class="btn btn-lg white-border-button" data-toggle="modal" data-target="#signModal" data-which="signUp">注册</a></p>
          </section>
        </div>
      </div>
    </div>

    <!-- 登陆 注册  modal -->
    <div id="signModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1 class="modal-title">登陆/注册</h1>
          </div>
          <div class="modal-body">
            {{#if signWhich}}
              {{> signIn}}
            {{else}}
              {{> signUp}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="signIn">
  <form class="form-horizontal">
    <fieldset>
      <div class="form-group">
        <label for="user-name" class="col-sm-2 control-label">用户名</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="user-name" placeholder="用户名" maxlength="20" required>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-2 control-label">密码</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password" placeholder="密码" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">登陆</button>
          <span class="login-error">用户名或密码错误</span>
        </div>
      </div>
    </fieldset>
  </form>
</template>

<template name="signUp">
  <form class="form-horizontal">
    <fieldset>
      <div class="form-group">
        <label for="username" class="control-label col-sm-2">用户名</label>
        <div class="col-sm-10">
          <input type="text" id="username" class="form-control" placeholder="用户名" maxlength="30" pattern="^[^\d][\u4E00-\u9FA5\uF900-\uFA2Da-zA-Z0-9]{2,29}$" required>
          <img class="form-loading-img" data-src="/images/loading.svg" alt="loading response">
          <span class="usernameExisted">用户名已存在</span>
          <p class="help-block">以字母或中文字符开头的 3 ~ 30 个字符</p>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="control-label col-sm-2">密码</label>
        <div class="col-sm-10">
          <input type="password" id="password" class="form-control" placeholder="密码" maxlength="100" pattern="^[-a-zA-Z0-9@_,.]{6,100}$" required>
          <p class="help-block">请填写一个不少于 6 个字母，数字混合的密码</p>
        </div>
      </div>
      <div class="form-group">
        <label for="rePassword" class="control-label col-sm-2">重复密码</label>
        <div class="col-sm-10">
          <input type="password" id="rePassword" class="form-control" placeholder="重复密码" required>
          <p class="help-block">重新输入一遍上面的密码</p>
        </div>
      </div>
      <!--            <div class="form-group">
                      <label for="name" class="control-label col-sm-2">姓名</label>
                      <div class="col-sm-10">
                          <input type="text" id="name" class="form-control" placeholder="姓名">
                          <p class="help-block">提供真实姓名更加利于远程工作中的沟通</p>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="avatar" class="control-label col-sm-2">我的头像</label>
                      <div class="col-sm-10">
                          <input type="text" id="avatar" class="form-control" placeholder="我的头像">
                          <p class="help-block">个人头像：　这里需要重做</p>
                      </div>
                  </div>-->
      <div class="form-group">
        <label for="email" class="control-label col-sm-2">邮箱</label>
        <div class="col-sm-10">
          <input type="email" id="email" class="form-control" placeholder="邮箱" required>
          <p class="help-block">请填写一个自己常用的邮箱</p>
        </div>
      </div>
      <div class="form-group">
        <label for="introduction" class="control-label col-sm-2">自我介绍</label>
        <div class="col-sm-10">
          <input type="text" id="introduction" class="form-control" placeholder="自我介绍" maxlength="100" required>
          <p class="help-block">一句话介绍一下自己吧!</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">注册</button>
        </div>
      </div>
      <!--            <div class="form-group">
                      <label class="control-label col-sm-2">性别</label>
                      <div class="col-sm-10">
                          <div class="radio radio-primary">
                              <label><input type="radio" name="gender" id="male" value="男">男</label>
                          </div>
                          <div class="radio radio-primary">
                              <label><input type="radio" name="gender" id="female" value="女">女</label>
                          </div>
                      </div>
                  </div>-->
      <!--            <div class="form-group">
                      <label id="city" class="control-label col-sm-2">所在城市</label>
                      <div class="col-sm-10">
                          <input type="text" id="city" class="form-control" placeholder="所在城市">
                          <p class="help-block">如果我们在你所在的城市有线下活动的话，一定会通知你的。</p>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="goodAt" class="control-label col-sm-2">擅长</label>
                      <div class="col-sm-10">
                          <input type="text" id="goodAt" class="form-control" placeholder="我擅长的事">
                          <p class="help-block">比如： Web开发，天使投资， 改变世界的idea ...</p>
                      </div>
                  </div>-->
    </fieldset>
  </form>
</template>
