<template name="userHomepage">
  {{#if subscriptionReady}}
    <div class="user-homepage-wrap">
      <div class="container">
        {{#with user}}
          <div class="well">
            <div class="row">
              <section class="col-md-4">
                <div class="row">
                  <div class="col-md-9">
                    <img class="img-responsive" src="{{avatarOrDefault}}" alt="avatar">
                    <p id="introduction">{{profile.introduction}}</p>
                    <dl class="dl-horizontal">
                      <dt><i class="glyphicon glyphicon-envelope"></i></dt>
                      <dd>{{email}}</dd>
                      <dt><i class="fa fa-clock-o"></i></dt>
                      <dd>{{#with joinDate}}{{year}}-{{month}}-{{day}}{{/with}}</dd>
                      <dt><i class="fa fa-map-marker"></i></dt>
                      <dd>{{profile.location}}</dd>
                      {{#if isYourOwnHomepage}}
                        <dt><i class="fa fa-lock"></i></dt>
                        <dd><a class="text-muted" href="#" data-toggle="modal" data-target="#private-info-modal">我的隐私信息</a></dd>
                      {{/if}}
                    </dl>
                  </div>
                </div>
              </section>
              <section class="col-md-8">
                <h2>{{username}}{{#if isYourOwnHomepage}}<a id="edit-button" class="btn btn-primary" href="{{pathFor "userSettings" uid=_id}}"><i class="fa fa-edit"></i> 编辑</a>{{/if}}</h2>
                <h4>自我介绍</h4>
                {{#if profile.selfIntroduction}}
                  <p>{{profile.selfIntroduction}}</p>
                {{else}}
                  <p class="text-muted">目前还没有填写自我介绍</p>
                {{/if}}
                <h4>专业技能</h4>
                {{#if profile.goodAt}}
                  <p>{{profile.goodAt}}</p>
                {{else}}
                  <p class="text-muted">目前还没有填写专业技能</p>
                {{/if}}
                <h4>感兴趣的领域</h4>
                {{#if profile.interestedFields}}
                  <div id="interested-fields">
                    {{#each profile.interestedFields}}
                      <span class="label label-default">{{this}}</span>
                    {{/each}}
                  </div>
                {{else}}
                  <p class="text-muted">目前还没有挑选感兴趣的领域</p>
                {{/if}}
              </section>
            </div>
            <div class="row">
              <section class="col-md-12">
                <h3>项目</h3>
                <hr>
                <ul class="list-inline cards-container">
                  {{#if hasNoProjects}}
                    <p class="text-muted text-center">目前没有参加或者创建任何项目</p>
                  {{else}}
                    {{#each createdProjects}}
                      {{> singleProjectCard}}
                    {{/each}}
                    {{#each appliedProjects}}
                      {{> singleProjectCard}}
                    {{/each}}
                    {{#each subscribedProjects}}
                      {{> singleProjectCard}}
                    {{/each}}
                  {{/if}}
                </ul>
              </section>
            </div>
            <div class="row">
              <section class="col-md-12">
                <h3>创意想法</h3>
                <hr>
                <ul class="list-inline">
                  {{#if hasIdeasCreated}}
                    {{#each profile.ideas}}
                      {{> idea}}
                    {{/each}}
                  {{else}}
                    {{#if isYourOwnHomepage}}
                      <p class="text-center text-muted">你可以将自己瞬间的灵感，想法，点子，创意记录下来！</p>
                      <p class="text-center text-muted">点击导航栏上的 + 号，赶快试试吧 !</p>
                    {{else}}
                      <p class="text-muted text-center">他目前还没有创建创意，想法</p>
                    {{/if}}
                  {{/if}}
                </ul>
              </section>
            </div>
          </div>
          {{#if isYourOwnHomepage}}
            {{> privateInfoModal}}
            {{> newUserTooltip}}
          {{/if}}
        {{/with}}
      </div>
    </div>
    {{>footer}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="idea">
  <li class="idea-wrap col-md-6">
    <section class="mdl-shadow--2dp idea">
      <i class="fa fa-thumb-tack"></i>
      <p>{{this}}</p>
    </section>
  </li>
</template>

<template name="newUserTooltip">
  <div id="new-user-tooltip-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3>补全个人信息</h3>
        </div>
        <div class="modal-body">
          <p>为了更加方便的让你的同伴认识你，以及更方便的协作办公，请补全个人信息!</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">以后再说</button>
          <button class="btn btn-primary" id="new-user-edit-button" type="button">去补充</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="privateInfoModal">
  <div id="private-info-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3>我的隐私信息 <small class="text-muted">仅自己可见.</small></h3>
        </div>
        <div class="modal-body">
          <dl class="dl-horizontal">
            <dt>姓名</dt>
            <dd>{{profile.name}}</dd>
            <dt>性别</dt>
            <dd>{{profile.gender}}</dd>
          </dl>
          <h5>详细联系方式</h5>
          <dl class="dl-horizontal">
            {{#each profile.contactInformation}}
              <dt>{{type}}</dt>
              <dd>{{value}}</dd>
            {{/each}}
          </dl>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
</template>