<template name="header">
  <div class="navbar navbar-default" id="site-header">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">92Hackers</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">项目</a></li>
          <li><a href="#">黑客</a></li>
          <li><a href="#">了解更多</a></li>
          <li><a href="/project/create/basic">创建项目</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" data-target="#"><img style="width: 32px; height: 30px;" src="{{avatarOrDefault}}" alt="header-bar-avatar">{{username}}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">我的主页</a></li>
                <li><a href="#">我的关注</a></li>
                <li><a href="#">帮助</a></li>
                <hr>
                <li><a href="#">设置</a></li>
                <li><a class="logout" href="#">退出</a></li>
              </ul>
            </li>
          {{else}}
            <li><a href="#" data-toggle="modal" data-target="#signModal" data-which="signUp">注册</a></li>
            <li><a href="#" data-toggle="modal" data-target="#signModal" data-which="signIn">登录</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
  {{#unless loggedIn}}
    {{> signInUpModal}}
  {{/unless}}
</template>