<template name="header">
  <div class="navbar navbar-default" id="site-header">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">92Hackers</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">项目</a></li>
          <li><a href="#">黑客</a></li>
          <li><a href="#">了解更多</a></li>
          {{#if currentUser}}
            <li><a href="{{pathFor "projectCreateBasic"}}">创建项目</a></li>
          {{/if}}
          <li><a href="#" data-toggle="modal" data-target="#header-feed-back-modal">意见反馈</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{#with currentUser}}
            <li title="记录我的创意"><a data-toggle="modal" data-target="#write-ideas-modal" href="#"><i class="fa fa-plus"></i></a></li>
            <li><a class="notification" href="#"><i class="fa fa-bell"></i><span class="badge text-danger">20</span></a></li>
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" data-target="#"><img src="{{avatarOrDefault}}" alt="header-bar-avatar">{{username}}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{pathFor "userHomepage" uid=_id}}">我的主页</a></li>
                <li><a href="{{pathFor "userSubscriptions" uid=_id}}">我的关注</a></li>
                <li><a href="{{pathFor "help"}}">帮助</a></li>
                <hr>
                <li><a href="{{pathFor "userSettings" uid=_id}}">设置</a></li>
                <li><a class="logout" href="#">退出</a></li>
              </ul>
            </li>
          {{else}}
            <li><a href="#" data-toggle="modal" data-target="#signModal" data-which="signUp">注册</a></li>
            <li><a href="#" data-toggle="modal" data-target="#signModal" data-which="signIn">登录</a></li>
          {{/with}}
        </ul>
      </div>
    </div>
  </div>
  <div id="header-feed-back-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal">&times;</button>
          <h2 class="modal-title">意见反馈</h2>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <fieldset>
              <div class="form-group">
                <label for="advisor-email">邮箱</label>
                <input class="form-control" id="advisor-email" type="email" placeholder="常用的邮箱" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="feed-back-textarea" id="feed-back-textarea" cols="30" rows="10" placeholder="在使用网站过程中遇到的问题或者是想提出改进的意见都可以反馈给我，我会认真改进的" required></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary pull-right" id="submit-feed-back">提交</button>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">取消</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{#if currentUser}}
    <div class="modal fade" id="write-ideas-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">新的创意</h2>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <fieldset>
                <div class="form-group">
                  <div class="col-md-12">
                    <textarea name="my-ideas" id="my-ideas" cols="30" rows="10" class="form-control" placeholder="我有一个新的点子!"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary pull-right">提交</button>
                  <button type="button" class="btn btn-default pull-right" data-dismiss="modal">取消</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
  {{#unless loggedIn}}
    {{> signInUpModal}}
  {{/unless}}
</template>