<template name="header">
    <div class="navbar navbar-default" id="site-header">
       <div class="container">
           <div class="navbar-header">
               <a href="#" class="navbar-brand">92Hackers</a>
           </div>
           <div class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
                   <li><a href="#">项目</a></li>
                   <li><a href="#">黑客</a></li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                   <li><a href="#">注册</a></li>
                   <li><a href="#">登陆</a></li>
               </ul>
           </div>
       </div>
    </div>
</template>